
.recipe-page{
    background-color: rgba(236, 195, 60, 0.651);
    font-weight: lighter;
    text-align: center;
}
.recipe{
    text-align: justify;
    float: inline-start;
}
#back-button{
    float: inline-end;
}